test/15_trading_strategies_a_cftech_crypto.ipynb
test/tr_eikon_eod_data.csv
test/.ipynb_checkpoints/15_trading_strategies_a_cftech_crypto-checkpoint.ipynb
test/tr_eikon_option_data.csv
test/tr_eikon_eod_data_rounded.csv
test/tr_eikon_aapl_tick.csv
test/fxcm_eur_usd_tick_data.csv
test/fxcm_eur_usd_eod_data.csv
test/crypto-markets.csv
test/15_trading_strategies_a_cftech_crypto.ipynb
informationRatio.pdf
tr_eikon_eod_data
test/15_trading_strategies_a_cftech_crypto.ipynb
tr_eikon_eod_data.csv